[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.30"
python-dotenv = "*"
"discord.py" = "~=2.2"
beautifulsoup4 = "~=4.12"
urllib3 = "<2"
tabulate = "~=0.9"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
